<table>
  <thead>
    <th>Image</th>
    <th>Email</th>
    <th>Name</th>
  </thead>

  <tbody *ngIf= "loading == 'done'">
    <tr *ngFor="let user of usersList">
      <td>
        <img [src]="user.avatar" />
      </td>
      <td>
        {{user.email}}
      </td>
      <td>
        {{user.first_name + ' '+user.last_name}}
      </td>
    </tr>
  </tbody>


  <tbody *ngIf= "loading == 'loading'">
      <td colspan="3">
        Please wait, loading data...
      </td>
  </tbody>

  <tbody *ngIf= "loading == 'error'">
      <td colspan="3">
        Encountered Error.
      </td>
  </tbody>

  <tbody *ngIf= "loading == ''">
      <td colspan="3">
        Press Button to get user data.
      </td>
  </tbody>
</table>



<button (click)="getUsersFromServer()">Users Component</button>
